.contenedor__figuras{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor__figuras div{
    margin: 20px;
}

.triangulo__arriba{
    width: 0;
    height: 0;

    border-left: 40px solid transparent;
    border-right: 40px solid transparent;

    border-bottom: 40px solid black;
}

.triangulo__abajo{
    width: 0;
    height: 0;

    border-left: 40px solid transparent;
    border-right: 40px solid transparent;

    border-top: 40px solid black;
}

.triangulo__derecha{
    width: 0;
    height: 0;

    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;

    border-left: 40px solid black;
}

.triangulo__izquierda{
    width: 0;
    height: 0;

    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;

    border-right: 40px solid black;
}